:root{
  --primary-color : #D5F3FF;
 
  --secondary-color: #51B4E8;
  --card-p-color :#E5F2FF;
  --card-s-color :#D5F3FF;
  --primary-color-button : #38A0D8;
  --text-primary-color:white;
  --color-primary:#0066ff;
  --input-bg-color : rgba(255, 255, 255, 0.233);
}
.dark{
  --primary-color : #53388F;
  --secondary-color: #2F2958;
  --card-p-color :#5836B3;
  --card-s-color :#362A84;
  --color-primary:white;
  --primary-color-button : #7D69F1;
}
*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  background: radial-gradient(circle, var(--primary-color) 0%, var(--secondary-color) 100%);
}
.buttonTemp{
  background-color: var(--primary-color-button);
  box-shadow: black 0px 5px 10px;
}
.loading-intro{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: 10%;
  background-repeat: repeat;
  background-image: url(../../assets/iconos/2.svg);
  animation: move 15s infinite linear alternate;
}
.logo-app{
  background-image: url(../../assets/iconos/2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.loading-bar{
  animation-delay: 1s;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation:load 5s   ;
  width: 300px;
}
@keyframes move {
  0%{
    background-position: right top; 

  }
  100%{
    background-position: left bottom;
  }
}
@keyframes load{
  0%{
    width: 0px;
  }
  100%{
    width: 300px;
  }
}